<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>
<p style="color: green"><%= notice %></p>

<img src="https://64.media.tumblr.com/7fa859142c396e82302fc4b6d480b95c/7f305e306b5a1bee-08/s250x400/81a35e52d3058bd8cb112625b9b757c2e11621d5.png" alt="logo to watch list">

<div id="films" >
  <% @films.each do |film| %>
    <%= render film %>

    <p>
      <%= link_to "Show this film", film %>
    </p>
  <% end %>
</div>

<%= link_to "New film", new_film_path %>