@import "bootstrap";

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 17px;
    text-indent: 5px;
}

 p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 0.5%;
    font-weight: 400;
    text-indent: 5px;
 }

 .base {
     display: flex;
     flex-direction: row;
     padding-left: 0.5%;
     text-transform: uppercase;
 }

.form-check-input {
    width: 35px;
    height: 35px; 
}

.title-and-box {
    display: flex;
    flex-direction: row;
}

.title-description {
    display: flex;
    flex-direction: column;
}

.cut {
    height: 117px;
    width: 316px;
    object-fit: cover;
    border-radius: 5px;
   }

.center {
    margin-left: 25%;
   }